.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.contacts {
  margin-right: 70px;

  &__adres {
    margin-top: 20px;
    margin-bottom: 9px;
    font-family: $main-font;
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &-item {
    margin-top: 9px;
  }
  
  &__list-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $main-color;
    }
  }
}

.adres__list-item {
  margin-top: 9px;
}

.socials-footer__title,
.newsletter__title {
  font-family: $main-font;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.142;
  margin-bottom: 20px;
  margin-top: 0;
}

.newsletter {
  margin-left: 78px;

  &__wrapper {
    display: flex;
  }

  &__input {
    display: flex;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-right: 12px;
    background-color: #2f303a;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    & .input {
      color: #fff;
      border: none;
      background-color: transparent;
      width: 100%;
      padding: 15px 16px;
    }
  }
}

.input::placeholder {
  font-family: $main-font;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
