:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --font-color: #212121;
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.figure {
  margin: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}